.resizablePanel {
    position: relative;
    height: 100%;
    overflow: hidden;
  }
  
  .resizer {
    position: absolute;
    width: 6px;
    height: 100%;
    background-color: #e0e0e000;
    cursor: col-resize;
    transition: background-color 0.2s;
    z-index: 1000;
  }
  
  .resizer:hover {
    background-color: #c1c1c1;
  }
  
  .resizer.right {
    right: 0px;
  }
  
  .resizer.left {
    left: 0px;
  }