.messageList {
    display: flex;
    flex-direction: column;
    /*padding: 10px;*/
    overflow-y: auto;
    flex-grow: 1;
    background: #E6E6E6;
    margin-top: 70px; /* Чтобы верхний элемент (название чата) не перекрывал сообщения (во время прокрутки из-за .messageListAllWindow и полупрозрачности, сообщения будет видно под инпутом)*/
    margin-bottom: 60px; /* Чтобы нижний элемент (поле ввода чата) не перекрывал сообщения (во время прокрутки из-за .messageListAllWindow и полупрозрачности, сообщения будет видно под инпутом)*/

    width: 100%;       /* Автоматическая ширина */
  }

  .EmptyChatList{
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    line-height: 39px;
    color: hsl(0, 0%, 40%);
    width: 100%;
    text-align: center;
    padding-top: 40%;
  }

  .messageListAllWindow{
    margin-top: -72px; /* Поднятие вверх (элемент заходит под хедер окна сообщений) */
    margin-bottom: -60px; /* Опускание вниз (элемент заходит под инпут окна сообщений) */
    position: relative;
  }
  
  .messagesEndRef{
    height: 1px;
    margin: 0;
  }

  .scrollToBottomButton{
    position: absolute; 
    bottom: 80px;
    right: 20px;
    z-index: 9; /*над сообщениями, но под вводом текста*/
    padding: 10px;
    border-radius: 50%;
    color: #1a1a1a;

    cursor: pointer;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;

    border: 1px solid rgba(255, 255, 255, 0.35);
    -webkit-backdrop-filter: blur(30px);
    backdrop-filter: blur(30px);
    background: rgba(255, 255, 255, 0.65);

    font-size: 1em;
    font-weight: 500;
    font-family: inherit;

    /* Переходы */
    transition: opacity 0.4s ease, transform 0.3s ease, border-color 0.25s; /*opacity, transform при появлении, исчезновении*/ /*border-color при наведении*/
  }

  .scrollToBottomButton:hover{
    border-color: #e3e3e3;
  }

  .scrollToBottomButton.Visible{
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
  }
  
  .scrollToBottomButton.Hidden{
    opacity: 0;
    transform: translateY(80px);
    pointer-events: none;
  }

  .OldNewMessagesDeviderContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 2em;
    width: 100%;
  }

  .OldNewMessagesDeviderLine{
    display: flex;
    height: 1px;
    width: 100%;
    background-color:#40404040; /*#1a1a1a*/
    margin: 4px 20px;

    align-items: center;
    justify-content: center;
  }

  .OldNewMessagesDeviderContent{
    display: flex;
    align-items: center;
    justify-content: center;

    color:#404040; /*#1a1a1a*/
    width: fit-content;
    white-space: nowrap;
  }