.LoginPage{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #1A1A1A; /*#242424;*/
}

.LoginPage_Main{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.LoginPage_Title{
    color: #d7d7d7;
}

.LoginPage_Form{
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: center;
    align-items: center;
}


.inputContainer{
    background: #474747;
    display: flex;
    
    align-items: center;
}

.inputWrapper{
    position: relative;
    background: #474747;
    padding: 8px 12px;
    display: flex;
    align-items: center;
    gap: 8px;
    width: 100%;
}

.input{
    font-family: 'Inter', sans-serif;
    flex: 1;
    border: none;
    background: transparent;
    font-size: 16px;
    outline: none;
    padding: 4px 0;
    color: #b3b3b3;
    width: 100%;
}

.ButtonContainer{
    background: #474747;
    display: flex;
    
    align-items: center;
    justify-content: center;
}

.ButtonWrapper{
    width: 100%;
    height: 100%;
}

.Button{
    background: #474747;
    color: #b3b3b3;
    width: 100%;
    height: 100%;
}

.Button:hover{
    background: #575757;
    border-color: #474747;
    border-width: 1px;
}

/*.ButtonWrapper:focus-visible{
    background-color: #00000000;
}*/