.header {
    display: flex;
    align-items: center;
    /*padding: 12px 16px;*/
    background: #ffffff;
    /*border-bottom: 1px solid #ff0000;*/
    position: relative;
    top: 0;
    z-index: 10;

    margin-right: 8px;/*оставляем место для скроллбара*/



    /*ТЕСТ*/
    border: 1px solid rgba(255, 255, 255, 0.35);
    -webkit-backdrop-filter: blur(30px);
    backdrop-filter: blur(30px);
    background: rgba(255, 255, 255, 0.85);
    transition: border-color 0.25s;

  }

  .header:hover{
    border-color: #e3e3e3;
  }
  
  .avatar {
    width: 48px;
    height: 48px;
    margin-right: 12px;
  }
  
  .info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex: 1;
    font-size: 18px;
    /*line-height: 22px;
    font-weight: 400;
    width: 100%;*/
    text-align: center;
    color: #000000;
    margin-left: 30px;
  }
  
  h3 {
    margin: 0;
    font-size: 18px;
    color: #1A1A1A;
  }
  
  .status {
    color: #000000;
    font-size: 16px;
  }
  
  .actions {
    display: flex;
    gap: 16px;
    align-items: center;
    cursor: pointer;
  }
  
  .search_icon {
    background: none;
    border: none;
    font-size: 20px;
    
    /*cursor: pointer;*/
    color: #1A1A1A;
    z-index: 3;
  }

  .Search_Field{
    /*background: #535353;
    border: none;*/
    display: flex;
    font-size: 20px;

    margin-right: -56px;
    z-index: 1;
    
    /*cursor: pointer;*/
    color: #1A1A1A;

    border: 1px solid rgba(255, 255, 255, 0.35);
    -webkit-backdrop-filter: blur(30px);
    backdrop-filter: blur(30px);
    background: rgba(228, 228, 228, 0.90);
    opacity: 1;

    transition: border-color 0.25s, opacity 0.25s ease;/*, display 0.25s ease;*/
    /*animation: fade-out 0.25s forwards;*/
    transition-behavior: allow-discrete; /* Note: be sure to write this after the shorthand */
  }

  /*@keyframes fade-out {
    0% {
      opacity: 1;
      display: flex;
    }
    100% {
      opacity: 0;
      display: none;
    }
  }*/

  .Search_Field_Hidden{
    display: none;
    font-size: 20px;

    margin-right: -56px;
    z-index: 1;

    color: #1A1A1A;

    border: 1px solid rgba(255, 255, 255, 0.35);
    -webkit-backdrop-filter: blur(30px);
    backdrop-filter: blur(30px);
    background: rgba(228, 228, 228, 0.90);
    opacity: 0;

    transition: border-color 0.25s, opacity 0.25s ease;/*, display 0.25s ease;*/
    /*animation: fade-in 0.25s forwards;*/
    transition-behavior: allow-discrete; /* Note: be sure to write this after the shorthand */
  }

  /*@keyframes fade-in {
    0% {
      opacity: 0;
      display: none;
    }
    100% {
      opacity: 1;
      display: flex;
    }
  }*/

  .actionButton_2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    /*cursor: pointer;*/
    height: 30px;
    width: 30px;
    margin-right: 30px;
    z-index: 3;
  }

  .actionButton_Item{
    height: 3px;
    width: 3px;
    background-color: #1A1A1A;
    border-radius: 100%;
  }